# Core
torch
torchvision

# Data & utils
numpy
pandas
tqdm
pyyaml
pillow

# Visualization
matplotlib

# Metrics helpers
scipy
scikit-learn

# Download
gdown
kaggle

# Jupyter
jupyter
ipykernel
